@import "../css/_reset.scss";
@import "../css/_color.scss";
@import "../css/_mixin.scss";
.wrap {
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden;
}
#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 550px;
  min-height: 60px;
  padding: 12px;
  padding-top: env(safe-area-inset-top);
  padding-top: 12px;
  background: $WHITE-COLOR;
  z-index: 1000;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  &.sub {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  }
  & h1 {
    font-size: rem(25);
    & span {
      color: $MAIN-COLOR;
    }
  }
}
#nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 550px;
  max-height: 60px;
  padding: 12px;
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: 12px;
  background: $WHITE-COLOR;
  z-index: 1000;

  & .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        flex: 1;
        box-sizing: border-box;
        & img,
        & svg {
          width: 24px;
        }

        &.profile-btn {
          & img {
            border: 1px solid $BLACK-COLOR;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

#container {
  height: calc(100vh - 120px);
  padding: 60px 0;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
    background-color: $WHITE-COLOR;
  }
}

.top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: translate(20px, -20px);
  width: 45px;
  height: 45px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f5f5f5;
    padding: 12px;
    border: none;
    cursor: pointer;
  }
  & img {
    width: 15px;
    transform: rotate(180deg);
  }
}
